html, body{
  margin: 0px;
}

#navbar{
  background-color: black;
  margin: 0px;
  top: 0px;
}

.dragbar {
  padding: 4px;
  cursor: col-resize;
  background-color: black;
}

.editor{
  min-width: 6%;
}

.blockly-container{
    height: 70%;
}

.myIFrame{
  flex:1;
  width: 50%;
  max-height: 70%;
}

.editor-button{
  padding: 5px 10px;
  height: 65px;
}

.simulator{
  /*float:right;*/
  left: 0;
  width: 40%;
}

#websimframe{
  height:100%;
  position: absolute;
}

#container{
  min-height: 100vh;
  display: flex;
}

.right-container{
  float: left;
  display: flex;
}

#cameras{
  display: flex;
}

#runbtn {
    background-color: #e6e6e6;
    color: black;
    /*border: 2px solid #ACFF00;*/
}

#runbtn:hover {
    background-color: #3190f7;
    color: white;
}

#simButton {
    background-color: #e6e6e6;
    color: black;
    /*border: 2px solid #ACFF00;*/
}

#simButton:hover {
    background-color: #3190f7;
    color: white;
}

#spectatorCamera {
    background-color: #e6e6e6;
    color: black;
    /*border: 2px solid #ACFF00;*/
}

#spectatorCamera:hover {
    background-color: #3190f7;
    color: white;
}

#cambtn {
    background-color: #e6e6e6;
    color: black;
    /*border: 2px solid #6b38d1;*/
}

#cambtn:hover {
  background-color: #3190f7;
  color: white;
}

#saveCode {
  background-color: #ACFF00;
  color: black;
}

#saveCode:hover {
  background-color: #ACFF00;
  color: white;
}

#blocklyToPython {
  background-color: #e6e6e6;
  color: black;
}

#blocklyToPython:hover {
  background-color: #3190f7;
  color: white;
}

#sendToRobot {
  background-color: #e6e6e6;
  color: black;
}

#sendToRobot:hover {
  background-color: #3190f7;
  color: white;
}

#resetRobot {
  background-color: #e6e6e6;
  color: black;
}

#resetRobot:hover {
  background-color: #3190f7;
  color: #e6e6e6;
}

#resetRobot>img{
  width: 36px;
  height: 36px;
}

#saveCode:disabled {
  background-color: red;
  color: black;
}

#cambtn>img{
  width: 36px;
  height: 36px;
}

#pythonbtn {
    background-color: #e6e6e6;
    color: black;
    border: 2px solid #3190f7;
}

#pythonbtn:hover {
    background-color: #3190f7;
    color: white;
}

#nav-button-container{
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

button, a.button {
    border-radius: 8px;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.blocklyTreeRow > .blocklyTreeRow{
  background-color: red
}


.evaluator {
  /* background: rgba(0, 0, 0, 0); */
  width: 30%;
  height: 7%;
  line-height: 200px;
  color: white;
  margin: 0 auto;
}
.carMarker{
  position:absolute;
  margin-bottom: 0.5%;
  right:5%;
  width: 5%;
  height: 5%;
}

#car1Progress{
  width: 100%;
  margin-top: 5px;
  background-color: #ffa500;
}

#a-car1bar{
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
}

#firstRobot {
  background-color: #e6e6e6;
  color: black;
  border: 2px solid #4da6ff;
}

#firstRobot:hover  {
  background-color: #4da6ff;
  color: white;
}

#time{
  text-align: center;
  font-family: sans-serif;
}

#firstRobot>img{
  width: 36px;
  height: 36px;
}
